
h1 {
  color: #EAAC8B;
}
body {
  background-color: rgb(240, 240, 240);
  font-family: "Verdana", sans-serif ;
  text-align: center;
}
img {
  border: 4px solid #EAAC8B;;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
a {
  color: #EAAC8B;
  text-decoration: none;
}
a:hover {
  color: yellow;
}
li {
  list-style-type: none;
}
.main {
  background-color: white;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.footer {
  background-color: white;
  border-radius: 5px;
  width: 600px;
  height: 80px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  line-height: 35px;
}
.footer li{
  color: #EAAC8B;
  display: inline;
}
@media (max-width: 960px) {
  .main, .footer {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .main, .footer {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .main, .footer {
    width: 300px;
  }
}
